# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# IDEs and editors
.idea/
*.swp
*.swo
*~
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.temp
.cache/

# Build output
dist/
build/
